body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: #024950;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

h1,
h2,
p,
a {
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

h1 {
    padding: min(9vh, 30px);
    padding-bottom: min(9vh, 20px);
    margin: 0px;
    border: none;
    text-align: center;
    vertical-align: top;
    font-size: max(2.3vw, 20px);
}

.pft {
    color: #0FA4AF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: max(2em, 50px);
}

.friends {
    display: flex;
    gap: 3vw;
    justify-content: center;
    margin: 2.5vh 1vw;
    flex-wrap: wrap;
}

.profile {
    clip-path: circle(45%);
    width: max(20%, 175px);
}

.oval,
.intro {
    background-color: #003135;
    display: flex;
    border-radius: 0.7em;
    flex: 1;
}

.intro {
    gap: 0.2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: max(1.8vw, 20px);
    flex-wrap: wrap;
    margin: auto 23vw;
    margin-top: 1vh;
}

.intro p {
    margin: 0;
    margin-top: 4vh;
}

button {
    background-color: #964734;
    border-radius: 50%;
    margin: 4vh;
    color: white;
    border: none;
    font-size: max(1.5vw,12px);
    padding: 2vh 4vh;
}

.start {
    padding: 4vh 8vh;
    font-size: max(1.6vw,16px);
}

.oval {
    flex-direction: column;
    justify-content: center;
    padding: 3vh;
    margin: auto 10vw;
}

.top {
    display: flex;
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 0;
    width: 10vw;
    min-width: 10px;
    padding: max(1vw, 10px);
    flex-shrink: 3;
}

.oval .circle {
    color: #003135;
    background-color: #0FA4AF;
    border-radius: 50%;
    padding: max(1vw, 5px);
    align-self: flex-start;
    font-size: max(3vw,16px);
    margin: 0;
}

.right {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 4vw;
}

.specificq {
    font-size: max(2vw,16px);
    align-self: left;
    padding-top: max(2.5vw, 5px);
    padding-bottom: max(2vw, 5px);
    text-align: left;
}

.specificq .q {
    margin: 0;
    padding: 0;
}

.answers {
    align-self: left;
    margin-bottom: 4vh;
}

ul {
    list-style: none;
    list-style-type: square;
    list-style-position: inside;
    padding: 0;
    text-align: left;
    font-family: Arial, sans-serif;
    color: white;
    font-size: max(1.8vw,14px);
    align-self: left;
}

li {
    margin-bottom: 4vh;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.next,
.back {
    align-self: flex-end;
    margin: auto;
}

.footer {
    padding: 2vh;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 10%;
    align-items: flex-end;
    font-size: max(1.2vw, 10px);
}